/* --------------------------------------
                Background
 -------------------------------------- */
 body {
    background-color: #aaaaaa;
  }
/*---------------------------------------
				Headings
--------------------------------------- */


/* -------------------------------------
				Lore
--------------------------------------- */
generated_lore {
	font-size: 2rem;
	color: black;
	padding: 3em;
}